{% load static %}
{% include 'header.html' %}
<!-- ! Main -->
<main class="main users chart-page" id="skip-target">
  <div class="container mt-5">
    <h2 class="text-center mb-4">Edit Customer</h2>

    {% if success %}
      <p class="alert alert-success text-center">{{ success }}</p>
    {% endif %}

    <div class="card shadow p-4 mx-auto" style="max-width: 900px;">
      <form method="post">
        {% csrf_token %}
        {% for r in data %}
        <div class="row mb-3">
          <div class="col-md-6">
            <label>Cust ID:</label>
            <input type="text" readonly name="cust_id" value="{{ r.cust_id }}" class="form-control border border-success" readonly>
          </div>
          <div class="col-md-6">
            <label>Name:</label>
            <input type="text" name="name" value="{{ r.name }}" class="form-control border border-success">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label>Mobile No:</label>
            <input type="number" name="mobile_no" value="{{ r.mobile_no }}" class="form-control border border-success">
          </div>
          <div class="col-md-6">
            <label>Aadhar No:</label>
            <input type="number" name="aadhar_no" value="{{ r.aadhar_no }}" class="form-control border border-success">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label>District:</label>
            <input type="text" name="district" value="{{ r.district }}" class="form-control border border-success">
          </div>
          <div class="col-md-6">
            <label>City:</label>
            <input type="text" name="city" value="{{ r.city }}" class="form-control border border-success">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label>Pincode:</label>
            <input type="number" name="pincode" value="{{ r.pincode }}" class="form-control border border-success">
          </div>
          <div class="col-md-6">
            <label>Occupation:</label>
            <input type="text" name="occupation" value="{{ r.occupation }}" class="form-control border border-success">
          </div>
        </div>
        {% endfor %}

        <div class="text-center">
          <button type="submit" class="btn btn-success px-5">Submit</button>
        </div>
      </form>
    </div>
  </div>
</main>
<!-- ! Footer -->
{% include 'footer.html' %}
